*.gem
.DS_Store
*/.DS_Store
.babelrc
.bowerrc
.bundle
.config
.dockerignore
.drone
.drone.yml
.git
.gitignore
.gitlab-ci.yml
.idea
.rspec
.rubocop.yml
.ruby-*
.vagrant
.yardoc
Dockerfile
build.rb
build.sh
coverage
coverage.data
doc
docker-compose*
features
fixtures
log/*
node_modules
pkg
rdoc
run.sh
spec
tmp
vagrant.yml
